<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--bean标签标示配置bean
    	id属性标示给bean起名字
    	class属性表示给bean定义类型
	-->
    <!--scope：为bean设置作用范围，可选值为单例singloton，非单例prototype-->
    <bean id="bookDao" name="dao" class="org.example.dao.impl.BookDaoImpl" scope="prototype"/>

    <!--name:为 bean 指定别名，别名可以有多个，使用逗号，分号，空格进行分隔-->
    <bean id="bookService" name="service service4 bookEbi" class="org.example.service.impl.BookServiceImpl">
        <!--配置server与dao的关系-->
        <!-- property标签表示配置当前bean的属性
        		name属性表示配置哪一个具体的属性
        		ref属性表示参照哪一个bean
		-->
        <!-- ref: 值被引用的 bean 的 id 或者 name，推荐使用 id -->
        <property name="bookDao" ref="bookDao"/>
    </bean>

    <bean id="orderDao" class="org.example.factory.OrderDaoFactory" factory-method="getOrderDao"/>

    <bean id="userFactory" class="org.example.factory.UserDaoFactory"/>
    <bean id="userDao" factory-method="getUserDao" factory-bean="userFactory"/>

</beans>
